

<div class="header group">
<h1>Welcome to Jeremy Jaffe's Personal Website</h1>
</div>
<div class="navbar">
  <div class="nav">
    <%= link_to("projects", projects_url) %>
  </div>
  <div class="nav">
    <%= link_to("contact", contact_url) %>
  </div>
  <div class="nav">
    <%= link_to("home", root_url) %>
  </div>
</div>

<p>
  Hi. I am Jeremy Jaffe.
  I am a ruby on rails web developer who just completed an intensive course on web development at App Academy.
  I am new to the field of web development, previously I was taking courses in NYU's masters program in mathematics and tutoring college and high school math on my spare time.
  Recently, however, I realized that coding was more fun, more relevant to the world and more lucrative than abstract math, hence the recent carer shift.
  Browse this site to see the code for projects I've created and some live demos.
</p>