
<LINK href="index.css" rel="stylesheet" type="text/css">

<div class="header">
<h1>Jeremy Jaffe's Projects</h1>
</div>

<div class="navbar">
  <div class="nav">
    <a href="jmetsr.github.io/projects.html">projects</a>
  </div>
  <div class="nav">
    <a href="jmetsr.github.io/contact.html">contact</a>
  </div>
  <div class="nav">
    <a href="jmetsr.github.io/home.html">home</a>
  </div>
</div>

<ul>
  <li>
    <h2> Chess </h2>
    <p>
      Chess is an exciting game of strategy
      It also was a fun challenge to code and involved overwriting the dup method on complex objects.
      Here is a link to a command line chess game written in ruby that I wrote while pair programing with a fellow Appacademy student.
    </p>
    <div class="git">
      <a href="https://github.com/jmetsr/Chess">Git Hub Repo</a>
    </div>
  </li>
  <li>
    <h2> Checkers </h2>
    <p>
      Here is some command line ruby code I wrote for checkers
    </p>
    <div class="git">
      <a href="https://github.com/jmetsr/checkers">Git Hub Repo</a>
    </div>
  </li>
  <li>
    <h2> Asteroids </h2>
    <p>
       I wrote an Asteroids game using javascript and canvas.
       Here is a link to the javascript code and a live demo to play!
    </p>
    <div class="git"><a href="https://github.com/jmetsr/asteroids"> Git Hub Repo</div>
    <div class="live"><a href="https://jeremyjaffesasteroidgame.herokuapp.com/#"> Live App </a></live>
  </li>
  <li>
    <h2> Forum </h2>
    <p>
      I made a clone of Dominion strategy Forum using rails and backbone.js
    </p>
      <div class="git"><%= link_to("Git Hub Repo", "https://github.com/jmetsr/dominion-strategy-clone") %></div>
      <div class="live"><%= link_to("Live App", "http://www.dominion-strategy-forum-clone.com/") %></div>
  </li>
</ul>
