 html {
    height: 100%;
  }
  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#CCFFFF, #70FF70);
  }

  .header {
    background: #9DFF7D;
    text-align: center;
    padding-left: 260px;
    padding-right: 260px;
    font-size: 16px;
    border: 1px solid black;
  }
  p {
    width: 900px;
    text-align: auto;
    margin: auto;
    background: #DBFFB8;
    border: 1px solid #141A0F;
    padding: 40px;

  }
  .navbar {
    float: right;
    background: #0C1410;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .nav > a{
    color: #99FFCC;
    padding: 8px;
    text-decoration: none;
  }
  .nav {
    float: left;
  }
  .group:after {
      content: "";
      clear: both;
      display: block;
  }
  .live > a {
    color: #003300;
    text-decoration: none;
  }
  .live {
    background: #CCFFCC;
    width: 60px;
    float: right;
    position: relative;
    left: 32px;
    bottom: 46px;
    border: 1px solid black;
    border-top-left-radius: 11px;
    padding: 4px;
  }
  .git > a {
    color: #003300;
    text-decoration: none;
  }
  .git {
    float: left;
    background: #00CC66;
    position: relative;
    bottom: 29px;
    padding: 5px;
    left: 1px;
    border-top-right-radius: 6px;

  }

  p {
    width: 140px;
    padding-top: 60px;
  }
  ul {
    position: relative;
    bottom: 80px;

  }
  li {
    list-style: none;
    align: left;
    width: 190px;
    float: left;
    padding: 20px;

  }
  h2 {
    color: white;
    position: relative;
    top: 66px;
    left: 1px;
    padding: 8px;
    background: #5C8038;
    border-bottom-right-radius: 30px;
    max-width: 100px;
    border-bottom: 1px solid white;
  }